.travel
    h2 Путешествия с гидом
    section
        article 
            img(src="images/travel-1.png")
            p Самые популярные
            p Побродив по улочкам Рима, познав его историю и впитав в себя настоящую итальянскую атмосферу, самое время отправиться.
            .details
                a(href="#") Подробнее >
                span Более 429K объявлений
        article 
            img(src="images/travel-2.png")
            p Самые экзотические
            p Слетать на выходные в Эмираты, окунуться в Персидский залив, прогуляться по ночному Дубаю… Все в твоих руках!
            .details
                a(href="#") Подробнее >
                span Более 429K объявлений
        article 
            img(src="images/travel-3.png")
            p Эксклюзивно для вас
            p Средиземное море выглядит, по меньшей мере, притягательно. К счастью, на Мальтийском архипелаге от любой точки островов.
            .details
                a(href="#") Подробнее >
                span Более 429K объявлений